---
name: securefix
on: pull_request
# on: workflow_dispatch
jobs:
  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - run: echo foo > foo.txt

      - uses: csm-actions/securefix-action@pr/339
        with:
          action: client
          app_id: ${{vars.AUTOFIX_TRIGGER_APP_ID}}
          app_private_key: ${{secrets.AUTOFIX_TRIGGER_APP_PRIVATE_KEY}}
          server_repository: securefix-demo-server
          branch: test-4
          pull_request_title: Title
          pull_request_labels: |
            bug
          # pull_request_assignees: suzuki-shunsuke
          # pull_request_reviewers: suzuki-shunsuke
          # pull_request_comment: Hello
          pull_request_base_branch: main
          automerge_method: squash
          # project_owner: szksh-lab
          # project_number: 1
          # project_id: PVT_kwDOCabuec4AlJMy
